
body{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(230, 215, 215);
 */
}
img{
    width: 400px;
}

button{
    width: 400px;
    padding: 10px;
    border-radius: 30px;
    background-color: brown;
}